## Imports

In [1]:
import os, shutil
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from sqlalchemy import create_engine
from matplotlib import pyplot as plt
from datetime import datetime

#turn off annoying warnigns
pd.options.mode.chained_assignment = None  # default='warn'

## Task 1: Data Collection

In [2]:
url = "https://www.worldometers.info/coronavirus/"
htmlContent = requests.get(url).text

soup = BeautifulSoup(htmlContent, 'html.parser')
covidTable = soup.find("table",attrs={"id": "main_table_countries_today"})

## Task 2: Main Data Extract

In [5]:
# extract the table headings from the soup
head = covidTable.thead.find_all("tr")
headings = []

for th in head[0].find_all("th"):
    headings.append(th.text.replace("\n", "").strip())

# extract actual data from the soup
body = covidTable.tbody.find_all("tr")
data = []

# iterate through every row in the html
for r in range(1,len(body)):
    row = []
    # find all column entries in that particular row
    for tr in body[r].find_all("td"):
        row.append(tr.text.replace("\n","").strip())
    len(row)
    data.append(row)

df = pd.DataFrame(data,columns = headings)

######################################################################
#                         CLEAN DATA TABLE                           #
######################################################################

# define nan object
NaN = np.nan

# recover appropriate columns
df = df.filter(['Continent', 'Country,Other','TotalCases','TotalRecovered','Serious,Critical','ActiveCases','TotalDeaths']) 

# strip artefacts
df = df.replace(',','', regex=True)
df = df.replace('\+','', regex=True)
df = df.replace('', NaN, regex=True)

# convert appropriate columns to integer type
df[['TotalCases', 'TotalRecovered','Serious,Critical','ActiveCases','TotalDeaths']] = df[['TotalCases', 'TotalRecovered','Serious,Critical','ActiveCases','TotalDeaths']].apply(pd.to_numeric, downcast = 'float', errors = 'coerce')
df.head(20)

# add date of processing to all rows
now = datetime.now()
dt_string = now.strftime("%d%m%Y")
df['date_processed'] = dt_string

#rename the columns for consistency
df.rename(columns = {'Continent':'continent','Country,Other':'country','TotalCases':'total_cases','TotalRecovered':'total_recovered','Serious,Critical':'critical_active','ActiveCases':'active_cases','TotalDeaths':'total_deaths'}, inplace=True)

,continent,country,total_cases,total_recovered,critical_active,active_cases,total_deaths,date_processed
0,Asia,Asia,57595824.0,54674024.0,28217.0,2101041.0,820757.0,11072021
1,South America,South America,33957712.0,31158308.0,28360.0,1764338.0,1035064.0,11072021
2,Europe,Europe,48893548.0,45864416.0,6074.0,1916059.0,1113072.0,11072021
3,Africa,Africa,5971777.0,5185839.0,4429.0,634195.0,151743.0,11072021
4,Australia/Oceania,Oceania,81303.0,69944.0,47.0,10038.0,1321.0,11072021
...,...,...,...,...,...,...,...,...
224,Australia/Oceania,Marshall Islands,4.0,4.0,NaN,0.0,NaN,11072021
225,Australia/Oceania,Samoa,3.0,3.0,NaN,0.0,NaN,11072021
226,Africa,Saint Helena,2.0,2.0,NaN,0.0,NaN,11072021
227,Australia/Oceania,Micronesia,1.0,1.0,NaN,0.0,NaN,11072021
228,Asia,China,92039.0,86937.0,3.0,466.0,4636.0,11072021

## Task 3: Extract Tables

In [9]:
############# world
world_df = df.loc[df['country'] == "World"]

# select our data for plotting:
world_df = world_df.filter(['total_cases','total_recovered','critical_active','active_cases','total_deaths', 'date_processed'])

# this is the correct way to add a new column from existing columns!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
world_df = world_df.assign(non_critical_active = world_df['active_cases'].astype(float) - world_df['critical_active'].astype(float))
# drop active_cases now
world_df = world_df.drop(columns = ['active_cases']).reset_index(drop=True)

# add in percentage columns
world_df = world_df.assign(total_recovered_percentage = (int(world_df['total_recovered'].astype(float)) / int(world_df['total_cases'].astype(float))) * 100)
world_df = world_df.assign(critical_active_percentage = (world_df['critical_active'].astype(float) / world_df['total_cases'].astype(float)) * 100)
world_df = world_df.assign(total_deaths_percentage = (world_df['total_deaths'].astype(float) / world_df['total_cases'].astype(float)) * 100)
world_df = world_df.assign(non_critical_active_percentage = (world_df['non_critical_active'].astype(float) / world_df['total_cases'].astype(float)) * 100)

############ continent 
continents_df = df.iloc[0:5]
continents_df.drop(columns=['country'], inplace=True)

# create a row of data to append to the continents for North America
na = df.loc[df['continent'] == "North America"]
del na["continent"]
na = na.replace('','0', regex=True)
row = []
row.append("North America")

for column in na.columns[1:]:
    na[column] = pd.to_numeric(na[column], errors='coerce')
    row.append(round(na[column].sum()))
row = [row]

continents_df = continents_df.append(pd.DataFrame( row, columns=continents_df.columns), ignore_index = True)

continents_df = continents_df.assign(non_critical_active = continents_df['active_cases'].astype(float) - continents_df['critical_active'].astype(float))
# drop active_cases now
continents_df = continents_df.drop(columns = ['active_cases']).reset_index(drop=True)

# add in percentage columns
continents_df = continents_df.assign(total_recovered_percentage = (continents_df['total_recovered'].astype(float) / continents_df['total_cases'].astype(float)) * 100)
continents_df = continents_df.assign(critical_active_percentage = (continents_df['critical_active'].astype(float) / continents_df['total_cases'].astype(float)) * 100)
continents_df = continents_df.assign(total_deaths_percentage = (continents_df['total_deaths'].astype(float) / continents_df['total_cases'].astype(float)) * 100)
continents_df = continents_df.assign(non_critical_active_percentage = (continents_df['non_critical_active'].astype(float) / continents_df['total_cases'].astype(float)) * 100)

continents_df = continents_df.sort_values(by=['total_cases'], ascending=False).reset_index(drop=True)

############ country
countries_df = df.loc[7:len(df)]
countries_df = countries_df.reset_index()
countries_df = countries_df.drop(columns = 'index')

countries_df = countries_df.assign(non_critical_active = countries_df['active_cases'].astype(float) - countries_df['critical_active'].astype(float))
countries_df = countries_df.drop(columns = ['active_cases']).reset_index(drop=True)


# add in percentage columns
countries_df = countries_df.assign(total_recovered_percentage = (countries_df['total_recovered'].astype(float) / countries_df['total_cases'].astype(float)) * 100)
countries_df = countries_df.assign(critical_active_percentage = (countries_df['critical_active'].astype(float) / countries_df['total_cases'].astype(float)) * 100)
countries_df = countries_df.assign(total_deaths_percentage = (countries_df['total_deaths'].astype(float) / countries_df['total_cases'].astype(float)) * 100)
countries_df = countries_df.assign(non_critical_active_percentage = (countries_df['non_critical_active'].astype(float) / countries_df['total_cases'].astype(float)) * 100)

countries_df = countries_df.sort_values(by=['total_cases'], ascending=False).reset_index(drop=True)

,continent,country,total_cases,total_recovered,critical_active,total_deaths,date_processed,non_critical_active,total_recovered_percentage,critical_active_percentage,total_deaths_percentage,non_critical_active_percentage
0,North America,USA,34726260.0,29234930.0,4340.0,622825.0,11072021,4864164.0,84.186808,0.012498,1.793527,14.007163
1,Asia,India,30871508.0,30000214.0,8944.0,408763.0,11072021,453586.0,97.177676,0.028972,1.324078,1.469271
2,South America,Brazil,19069004.0,17530368.0,8318.0,532949.0,11072021,997367.0,91.931220,0.043621,2.794844,5.230305
3,Europe,France,5808383.0,5645990.0,947.0,111321.0,11072021,50125.0,97.204162,0.016304,1.916557,0.862977
4,Europe,Russia,5783333.0,5200219.0,2300.0,143002.0,11072021,437812.0,89.917337,0.039769,2.472657,7.570237

## Task 4: Create CSVs

In [42]:
# create a folder for the csv data extracts if there isn't aready one using the os module
path = os.getcwd()
directory = 'csv_extracts'

if os.path.isdir(directory):
    print("Extracts directory found at '%s'" % (path+directory))
    path = os.path.join(path, directory)

    for filename in os.listdir(directory):
        file_path = os.path.join(directory, filename)
        print("Removing old file '%s' at '%s'" % (filename, file_path))
        try:
            if os.path.isfile(file_path) or os.path.islink(file_path):
                os.unlink(file_path)
            elif os.path.isdir(file_path):
                shutil.rmtree(file_path)
        except Exception as e:
            print('Failed to delete %s. Reason: %s' % (file_path, e))
else:
    print('Extracts directory not found, creating csv extracts directory and files...')
    path = os.path.join(path, directory)
    os.mkdir(path)
    try:
        if os.path.isdir(directory):
            print("Directory '% s' successfully created" % directory)
    except Exception as e:
        print("Could not create directory '% s'. Reason: %s" % (directory, e))
        
# create csv files from extracts

# world df
csv_name = path + "/world_csv_" + dt_string + ".csv"
print(csv_name)
world_df.to_csv(csv_name)

# continents df
csv_name = path + "/continent_csv_" + dt_string + ".csv"
print(csv_name)
continents_df.to_csv(csv_name)

# countries df
csv_name = path + "/country_csv_" + dt_string + ".csv"
print(csv_name)
countries_df.to_csv(csv_name)

Extracts directory found at '/Users/markdunbar/Documents/Repositories/Python-Projects-and-Challenges/Python Covid Tracker/src/covid-task-schedulercsv_extracts'
Removing old file 'continent_csv_11072021.csv' at 'csv_extracts/continent_csv_11072021.csv'
Removing old file 'country_csv_11072021.csv' at 'csv_extracts/country_csv_11072021.csv'
Removing old file 'world_csv_11072021.csv' at 'csv_extracts/world_csv_11072021.csv'
/Users/markdunbar/Documents/Repositories/Python-Projects-and-Challenges/Python Covid Tracker/src/covid-task-scheduler/csv_extracts/world_csv_11072021.csv
/Users/markdunbar/Documents/Repositories/Python-Projects-and-Challenges/Python Covid Tracker/src/covid-task-scheduler/csv_extracts/continent_csv_11072021.csv
/Users/markdunbar/Documents/Repositories/Python-Projects-and-Challenges/Python Covid Tracker/src/covid-task-scheduler/csv_extracts/country_csv_11072021.csv

## Task 5: Upload data extracts to database

In [38]:
engine = create_engine('sqlite:///../application/site.db', echo=True)
sqlite_connection = engine.connect()

world_df.to_sql("world", sqlite_connection, if_exists='replace')

continents_df.to_sql("continents", sqlite_connection, if_exists='replace')

countries_df.to_sql("countries", sqlite_connection, if_exists='replace')

sqlite_connection.close()

2021-07-11 00:34:15,589 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-07-11 00:34:15,590 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,594 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-07-11 00:34:15,595 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,601 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("world")
2021-07-11 00:34:15,602 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,607 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("world")
2021-07-11 00:34:15,608 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,609 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-07-11 00:34:15,611 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,615 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("world")
2021-07-11 00:34:15,616 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,619 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-11 00:34:15,621 INFO sqlalchemy.engine.base.Engine ('world',)
2021-07-11 00:34:15,623 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("world")
2021-07-11 00:34:15,625 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,626 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("world")
2021-07-11 00:34:15,626 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,627 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-11 00:34:15,628 INFO sqlalchemy.engine.base.Engine ('world',)
2021-07-11 00:34:15,629 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("world")
2021-07-11 00:34:15,630 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,631 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_world_index")
2021-07-11 00:34:15,632 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,635 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("world")
2021-07-11 00:34:15,636 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,638 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_world_index")
2021-07-11 00:34:15,640 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,642 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-11 00:34:15,643 INFO sqlalchemy.engine.base.Engine ('world',)
2021-07-11 00:34:15,645 INFO sqlalchemy.engine.base.Engine
DROP TABLE world
2021-07-11 00:34:15,646 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,649 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-11 00:34:15,651 INFO sqlalchemy.engine.base.Engine
CREATE TABLE world (
	"index" BIGINT,
	total_cases FLOAT,
	total_recovered FLOAT,
	critical_active FLOAT,
	total_deaths FLOAT,
	date_processed TEXT,
	non_critical_active FLOAT,
	total_recovered_percentage FLOAT,
	critical_active_percentage FLOAT,
	total_deaths_percentage FLOAT,
	non_critical_active_percentage FLOAT
)


2021-07-11 00:34:15,652 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,656 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-11 00:34:15,659 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_world_index ON world ("index")
2021-07-11 00:34:15,660 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,664 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-11 00:34:15,667 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-07-11 00:34:15,668 INFO sqlalchemy.engine.base.Engine INSERT INTO world ("index", total_cases, total_recovered, critical_active, total_deaths, date_processed, non_critical_active, total_recovered_percentage, critical_active_percentage, total_deaths_percentage, non_critical_active_percentage) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-07-11 00:34:15,669 INFO sqlalchemy.engine.base.Engine (0, 187235840.0, 171219072.0, 77930.0, 4042145.0, '11072021', 11896701.0, 91.4456719397312, 0.04162130498092673, 2.1588521727464145, 6.353858855227718)
2021-07-11 00:34:15,672 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-11 00:34:15,677 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("continents")
2021-07-11 00:34:15,678 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,679 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("continents")
2021-07-11 00:34:15,680 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,681 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-07-11 00:34:15,682 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,684 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("continents")
2021-07-11 00:34:15,686 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,689 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-11 00:34:15,690 INFO sqlalchemy.engine.base.Engine ('continents',)
2021-07-11 00:34:15,692 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("continents")
2021-07-11 00:34:15,693 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,694 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("continents")
2021-07-11 00:34:15,695 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,697 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-11 00:34:15,697 INFO sqlalchemy.engine.base.Engine ('continents',)
2021-07-11 00:34:15,699 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("continents")
2021-07-11 00:34:15,699 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,701 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_continents_index")
2021-07-11 00:34:15,702 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,704 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("continents")
2021-07-11 00:34:15,706 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,707 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_continents_index")
2021-07-11 00:34:15,708 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,709 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-11 00:34:15,709 INFO sqlalchemy.engine.base.Engine ('continents',)
2021-07-11 00:34:15,711 INFO sqlalchemy.engine.base.Engine
DROP TABLE continents
2021-07-11 00:34:15,712 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,715 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-11 00:34:15,718 INFO sqlalchemy.engine.base.Engine
CREATE TABLE continents (
	"index" BIGINT,
	continent TEXT,
	total_cases FLOAT,
	total_recovered FLOAT,
	"Critical, Active" FLOAT,
	"ActiveCases" FLOAT,
	total_deaths FLOAT,
	date_processed TEXT,
	non_critical_active FLOAT,
	total_recovered_percentage FLOAT,
	critical_active_percentage FLOAT,
	total_deaths_percentage FLOAT,
	non_critical_active_percentage FLOAT
)


2021-07-11 00:34:15,719 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,722 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-11 00:34:15,723 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_continents_index ON continents ("index")
2021-07-11 00:34:15,723 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,727 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-11 00:34:15,731 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-07-11 00:34:15,735 INFO sqlalchemy.engine.base.Engine INSERT INTO continents ("index", continent, total_cases, total_recovered, "Critical, Active", "ActiveCases", total_deaths, date_processed, non_critical_active, total_recovered_percentage, critical_active_percentage, total_deaths_percentage, non_critical_active_percentage) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-07-11 00:34:15,736 INFO sqlalchemy.engine.base.Engine ((0, 'Asia', 57444268.0, 54543984.0, 27990.0, 2082192.0, 818091.0, '11072021', 2054202.0, 94.9511342019364, 0.04872548815488432, 1.4241473144021959, 3.5759912546888053), (2, 'Europe', 48822712.0, 45836940.0, 6090.0, 1873505.0, 1112266.0, '11072021', 1867415.0, 93.88446098610827, 0.012473702812740102, 2.2781733222849234, 3.824889940567005), (5, 'North America', 40972948.0, 34437844.0, 10884.0, 5610881.0, 924222.0, 431808819, 5599997.0, 84.05019819418412, 0.026563868433386827, 2.2556883141530357, 13.667547182594722), (1, 'South America', 33950072.0, 31150708.0, 28432.0, 1764686.0, 1034677.0, '11072021', 1736254.0, 91.75446814958154, 0.08374650869665314, 3.0476430211988945, 5.11413937502106), (3, 'Africa', 5964398.0, 5179106.0, 4487.0, 633735.0, 151557.0, '11072021', 629248.0, 86.83367541870948, 0.0752297214236877, 2.541027610833482, 10.550067249033347), (4, 'Australia/Oceania', 80731.0, 69782.0, 47.0, 9632.0, 1317.0, '11072021', 9585.0, 86.43767573794453, 0.058218032725966484, 1.6313435978744226, 11.872762631455078))
2021-07-11 00:34:15,739 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-11 00:34:15,745 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("countries")
2021-07-11 00:34:15,746 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,748 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("countries")
2021-07-11 00:34:15,749 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,751 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-07-11 00:34:15,752 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,755 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("countries")
2021-07-11 00:34:15,757 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,759 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-11 00:34:15,760 INFO sqlalchemy.engine.base.Engine ('countries',)
2021-07-11 00:34:15,762 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("countries")
2021-07-11 00:34:15,763 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,764 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("countries")
2021-07-11 00:34:15,765 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,766 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-11 00:34:15,767 INFO sqlalchemy.engine.base.Engine ('countries',)
2021-07-11 00:34:15,769 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("countries")
2021-07-11 00:34:15,770 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,772 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_countries_index")
2021-07-11 00:34:15,773 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,774 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("countries")
2021-07-11 00:34:15,776 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,777 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_countries_index")
2021-07-11 00:34:15,777 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,779 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-11 00:34:15,780 INFO sqlalchemy.engine.base.Engine ('countries',)
2021-07-11 00:34:15,781 INFO sqlalchemy.engine.base.Engine
DROP TABLE countries
2021-07-11 00:34:15,782 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,785 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-11 00:34:15,789 INFO sqlalchemy.engine.base.Engine
CREATE TABLE countries (
	"index" BIGINT,
	continent TEXT,
	country TEXT,
	total_cases FLOAT,
	total_recovered FLOAT,
	"Critical, Active" FLOAT,
	"ActiveCases" FLOAT,
	total_deaths FLOAT,
	date_processed TEXT,
	non_critical_active FLOAT,
	total_recovered_percentage FLOAT,
	critical_active_percentage FLOAT,
	total_deaths_percentage FLOAT,
	non_critical_active_percentage FLOAT
)


2021-07-11 00:34:15,790 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,793 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-11 00:34:15,794 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_countries_index ON countries ("index")
2021-07-11 00:34:15,795 INFO sqlalchemy.engine.base.Engine ()
2021-07-11 00:34:15,798 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-11 00:34:15,804 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-07-11 00:34:15,811 INFO sqlalchemy.engine.base.Engine INSERT INTO countries ("index", continent, country, total_cases, total_recovered, "Critical, Active", "ActiveCases", total_deaths, date_processed, non_critical_active, total_recovered_percentage, critical_active_percentage, total_deaths_percentage, non_critical_active_percentage) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-07-11 00:34:15,812 INFO sqlalchemy.engine.base.Engine ((0, 'North America', 'USA', 34725796.0, 29234928.0, 3930.0, 4868050.0, 622819.0, '11072021', 4864120.0, 84.18792761438787, 0.011317235175832975, 1.7935341208593174, 14.007223909280583), (1, 'Asia', 'India', 30836232.0, 29967478.0, 8944.0, 460681.0, 408072.0, '11072021', 451737.0, 97.18268431759107, 0.02900484079896662, 1.3233523473295958, 1.4649552513419928), (2, 'South America', 'Brazil', 19069004.0, 17530368.0, 8318.0, 1005685.0, 532949.0, '11072021', 997367.0, 91.93121990010596, 0.04362052679835821, 2.7948444501873304, 5.230304634683594), (3, 'Europe', 'France', 5808383.0, 5646009.0, 947.0, 51053.0, 111321.0, '11072021', 50106.0, 97.20448875358254, 0.016304021274079206, 1.916557499737879, 0.8626497254055044), (4, 'Europe', 'Russia', 5758300.0, 5182837.0, 2300.0, 433210.0, 142253.0, '11072021', 430910.0, 90.00637340881858, 0.039942344094611254, 2.4703992497785805, 7.483284997308233), (5, 'Asia', 'Turkey', 5476294.0, 5344102.0, 684.0, 82000.0, 50192.0, '11072021', 81316.0, 97.58610476354995, 0.012490198663548743, 0.9165322387731557, 1.4848727990133475), (6, 'Europe', 'UK', 5089893.0, 4355423.0, 417.0, 606071.0, 128399.0, '11072021', 605654.0, 85.57003064700967, 0.008192706605030794, 2.522626703547599, 11.899149942837699), (7, 'South America', 'Argentina', 4639098.0, 4264937.0, 5427.0, 275660.0, 98501.0, '11072021', 270233.0, 91.93461746227392, 0.11698394817268357, 2.1232791374530136, 5.825119452100386)  ... displaying 10 of 222 total bound parameter sets ...  (219, 'Africa', 'Saint Helena', 2.0, 2.0, None, 0.0, None, '11072021', None, 100.0, None, None, None), (220, 'Australia/Oceania', 'Micronesia', 1.0, 1.0, None, 0.0, None, '11072021', None, 100.0, None, None, None))
2021-07-11 00:34:15,821 INFO sqlalchemy.engine.base.Engine COMMIT